{% extends "base.html" %}
{%load static%}

{% block css_files %} 
<link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
<link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% block page_title %} 
Metas {{Mes}}  
{% endblock %}

{% block content %}  
{% include "challenges/includes/header.html" %}
<h1>Meta para el mes de {{Mes}}</h1>
    {% if Meta is not None %}
    <h2>{{Meta}}</h2>
    {% else %}
    <p class= "fallback">No existe meta para este mes</p>
{% endif %}
{% endblock %}
