{% extends "base.html" %}
{% load static %}

{% block css_files %} 
<link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
<link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

   {% block page_title %} 
   Metas 
   {% endblock %}

   {% block content %}
    {% include "challenges/includes/header.html" %} 
   <ul>
      {%for mes in meses %}
        <li><a href="{% url 'meses-Diario' mes %}">{{mes}}</a></li>
      {%endfor%}
    </ul>
    {% endblock %}
    