{% extends "base.html" %}

{% block page_title %}
 Ups Lo sentimos- No pudimos encontrar la pagina
{% endblock %}

{% block content %}
<h1> No pudimos encontrar la pagina </h1>
<p>Lo sentimos pero no pudimos encontrar la pagina </p>

{% endblock %}