{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="shortcut icon" href="#">
   <meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <meta http-equiv="Pragma" content="no-cache">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Mis Metas{% endblock %}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    {% block css_files %}{% endblock %}
</head>
<body>
    
{% block content %}{% endblock %}
</body>
</html>