@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

html {
    font-family: 'Roboto Condensed', sans-serif;}

    body {
        margin: 0;
        background-color: rgb(36, 33, 33);
    
    }



